{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Biblioteca Web App - Insertar Nuevo Libro
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
{% endblock %}


{% block content %}
<div class="container-md">
    <div class="form-container">
        <h2>Agregar nuevo libro</h2>
        <form action="{{ url_for('insertar_libro') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.titulo.label(class="form-control-label") }}
                {{ form.titulo(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.fk_autor.label(class="form-control-label") }}
                {{ form.fk_autor(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.fk_editorial.label(class="form-control-label") }}
                {{ form.fk_editorial(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.edicion.label(class="form-control-label") }}
                {{ form.edicion(class="form-control") }}
            </div>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

